---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Berlin&components=country:DE&language=de&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Berlin",
                       "short_name" : "Berlin",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Berlin",
                       "short_name" : "Berlin",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Deutschland",
                       "short_name" : "DE",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Berlin, Deutschland",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 52.6754542,
                          "lng" : 13.7611176
                       },
                       "southwest" : {
                          "lat" : 52.33962959999999,
                          "lng" : 13.0911663
                       }
                    },
                    "location" : {
                       "lat" : 52.52000659999999,
                       "lng" : 13.404954
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 52.6754542,
                          "lng" : 13.7611176
                       },
                       "southwest" : {
                          "lat" : 52.33962959999999,
                          "lng" : 13.0911663
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 28 Aug 2014 08:52:39 GMT
recorded_with: VCR 2.8.0
